.header {
  background-color: transparent;
  position: relative;
  z-index: 1;
  height: 63px;
}
.header__wrapper {
  position: relative;
  padding-top: 53px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__burger {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  width: 72px;
  height: 31px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: transparent;
  color: #fff;
  padding: 0;
  border: none;
  position: relative;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header__burger i {
  display: block;
  height: 3px;
  width: 72px;
  border-radius: 2px;
  background: currentColor;
  left: 0;
  top: 0;
  margin-bottom: 11px;
}
.header__burger:hover {
  opacity: 0.7;
}
.header__langs {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 57px);
}
.header__langs a {
  color: #fff;
  font-size: 28px;
  line-height: 33px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__langs a.current {
  color: #E7B656;
}
.header__langs a:hover {
  color: #E7B656;
}
.header__contact-us {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fff;
  font-size: 24px;
  line-height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 15px 0 15px 15px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.header__contact-us:hover {
  background-color: #E7B656;
}