.request {
  background-color: #003053;
  padding: 60px 0;
}
.request__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.request__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.request__contacts a {
  color: #E7B656;
}
.request__contacts a:hover {
  color: #d3961e;
}