.section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-head__title {
  position: relative;
  color: #E7B656;
  font-size: 128px;
  line-height: 115px;
  padding-right: 30px;
}
.section-head__title::after {
  display: block;
  position: absolute;
  content: "";
  right: 0;
  top: 10px;
  height: 90%;
  width: 1px;
  background-color: #E7B656;
}
.section-head__text {
  padding-left: 30px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}