.we-are {
  padding: 116px 0 100px 0;
}
.we-are__content {
  position: relative;
}
.we-are__caption {
  position: absolute;
  z-index: 1;
  left: 0;
  top: calc(50% - 148px);
  font-size: 325px;
  line-height: 296px;
  letter-spacing: -2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E7B656), to(#816630));
  background: linear-gradient(to bottom, #E7B656, #816630);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}