*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  background-color: #ffffff;
  position: relative;
  height: 100%;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

body.lock {
	/* блокировка скролла под всплывающим окном навигации */
	overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.img-bg {
  height: 100%;
}

.img-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 135px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}


/* Кнопка */
.btn {
  display: flex;
  min-height: 56px;
  padding: 16px 65px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-family: "Sarala", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  transition: transform 0.5s linear, border-color 1s ease-in;
  border-radius: 8px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-black {
  background-color: #000000;
  color: #ffffff;
  margin: 42px 0 0 0;
}

@media (max-width: 1570px) {
  .btn-black {
    margin: 24px auto 0 auto;
  }
}

@media (max-width: 768px) {
  .btn-black {
    margin: 24px auto 0 auto;
  }
}

.btn-submit {
  display: flex;
  justify-content: center;
  border: 1px solid #000000;
  padding: 16px 20px;
  margin-left: -2px;
  margin-right: 0;
  width: 186px;
  height: 56px;
  margin-top: 0;
  border-radius: 0px 5px 5px 0px;
}

@media (max-width: 768px) {
  .btn-submit {
    width: 120px;
  }
}

.btn-submit:hover {
  border-radius: 0px 5px 5px 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


/* header */
.header__body {
  z-index: 1;
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .header__body {
    padding: 36px 0;
    border-bottom: 1px solid #ffffff;
  }
}

.header__nav {
  position: fixed;
  z-index: 99;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F1E9E6;
  padding-top: 100px;
  overflow: auto;
  transition: all 0.5s ease;
}

.header__nav.active {
  top: 0;
}

@media (min-width: 768px) {
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    overflow: unset;
    padding-top: 0;
    top: 0;
    height: auto;
    width: auto;
    position: relative;
    z-index: 3;
    background-color: transparent;
  }
}

.header__nav-list {
  display: flex;
  gap: 60px;
  flex-direction: column;
  padding: 0;
}

@media (min-width: 768px) {
  .header__nav-list {
    flex-direction: row;
  }
}

.header__nav-item {
  list-style: none;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  width: 80%;
  margin-left: auto;
}

@media (min-width: 768px) {
  .header__nav-item {
    width: auto;
    margin-left: 0;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
  }

  .header__nav-item::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
  }

  .header__nav-item:hover::before {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header__nav-link {
    width: 100%;
    display: inline-block;
    background-color: #c3aba2f0;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media (min-width: 768px) {
  .header__nav-link {
    background-color: transparent;
  }
}

.header__menu {
  display: block;
  position: relative;
  width: 30px;
  height: 22px;
  position: relative;
  z-index: 100;
}

.header__menu::before,
.header__menu::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.5s ease;
}

.header__menu::before {
  top: 0;
}

.header__menu::after {
  bottom: 0;
}

.header__menu span {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.5s ease;
}

.header__menu.active::before {
  transform: rotate(45deg);
  top: 11px;
}

.header__menu.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.header__menu.active span {
  transform: scale(0);
}

@media (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__nav-item-portfolio ul {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__nav-item-portfolio {
    position: relative;
  }

  .header__nav-item-portfolio:hover::before {
    width: unset;
  }

  .header__nav-item-portfolio ul {
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    width: 220%;
    padding: 20px;
    border-radius: 5px;
    list-style: none;
    position: absolute;
    top: 30px;
    left: 40px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .header__nav-item-portfolio ul li:first-child {
    margin-bottom: 15px;
  }

  .header__nav-item-portfolio ul a {
    position: relative;
    padding-bottom: 8px;
  }

  .header__nav-item-portfolio ul a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.5s ease;
  }

  .header__nav-item-portfolio ul a:hover::before {
    width: 100%;
  }

  .header__nav-item-portfolio:hover ul {
    visibility: visible;
    opacity: 1;
  }
}


/* Логотип */
.logo {
  display: block;
  width: 73px;
  height: 50px;
  position: relative;
  z-index: 3;
}

.logo__img {
  width: 100%;
  height: 100%;
}

.logo img {
  max-width: 100%;
  display: block;
}


/* Текст в header */
main {
  flex: 1 1 auto;
}

.hero {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: -123px;
  min-height: 100vh;
  padding-top: 290px;
}

@media (max-width: 1024px) {
  .hero {
    padding-top: 200px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 150px;
    margin-top: -80px;
  }
}

.hero__caption {
  font-size: 60px;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0 57px 0;

  /* настройка подложки для текста */
  background-color: #d8d7d77a;
  padding: 20px;
  border-radius: 8px;
}

@media (max-width: 1150px) {
  .hero__caption {
    font-size: 30px;
    margin: 0 0 30px 0;
  }
}

.hero__content {
  width: 65%;
  padding-left: 119px;
  position: relative;
}

@media (max-width: 1024px) {
  .hero__content {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .hero__content {
    width: 100%;
    padding: 0;
  }
}



/* Слайдер */
.hero .slick-slider {
  width: 100vw;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero .slick-list {
  overflow: hidden;
}

.hero .slick-track {
  display: flex;
}

.hero .slick-slide {
  display: flex;
  height: 100%;
}

.hero .slick-dots {
  position: absolute;
  bottom: 56px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: transparent;
}

.hero .slick-dots li {
  list-style: none;
  margin: 0 11px;
}

.hero .slick-dots li.slick-active button {
  opacity: .9;
}

.hero .slick-dots li button {
  width: 70px;
  height: 8px;
  border-radius: 3px;
  border: none;
  font-size: 0;
  background-color: #ffffff;
  opacity: .3;
  pointer-events: none;
}

.hero .slider__content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hero .slider__img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero .slider__text {
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}


/* Проекты */
.portfolio .slick-list {
  overflow: hidden;
}

.portfolio .slick-track {
  display: flex;
  gap: 35px;
}

@media (max-width: 768px) {
  .portfolio .slick-track {
    gap: 0;
  }
}

.portfolio .slick-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio .slick-dots {
  position: absolute;
  bottom: 56px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: transparent;
}

.portfolio .slick-dots li {
  list-style: none;
  margin: 0 11px;
}

.portfolio .slick-dots li.slick-active button {
  opacity: .9;
}

.portfolio .slick-dots li button {
  width: 70px;
  height: 8px;
  border-radius: 3px;
  border: none;
  font-size: 0;
  background-color: #ffffff;
  opacity: .3;
  pointer-events: none;
}



.services {
  color: #404040;
  padding: 115px 0 174px 0;
}

@media (max-width: 1024px) {
  .services {
    padding: 55px 0 70px 0;
  }
}

.services__caption {
  position: relative;
  width: 68%;
  padding: 60px 0;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
}

.services__caption::before,
.services__caption::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  width: 140px;
  height: 1px;
  background-color: #000;
}

.services__caption::after {
  top: 100%;
}

@media (max-width: 1024px) {
  .services__caption {
    width: 100%;
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  .services__caption {
    font-size: 24px;
  }
}

.services__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-top: 130px;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .services__list {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .services__list {
    font-size: 24px;
    flex-direction: column;
    gap: 20px;
  }
}

.services__item {
  display: flex;
  width: 25%;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .services__item {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .services__item {
    width: 100%;
  }
}

.services__index {
  color: #F1EDEA;
  font-family: "Open Sans", sans-serif;
  font-size: 144px;
  line-height: 144px;
}

.services__name {
  color: #000000;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  margin: 36px 0 16px 0;
}

.services__description {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}



/* Команда/about */
.about {
  position: relative;
  min-height: 961px;
  padding-bottom: 176px;
}

@media (max-width: 1570px) {
  .about {
    min-height: calc(961px + 250px);
  }
}

@media (max-width: 1024px) {
  .about {
    padding: 0;
    min-height: auto;
  }
}

.about-team {
  margin-bottom: -178px;
}

@media (max-width: 1024px) {
  .about-team {
    margin-bottom: 0;
  }
}

.about__wrapper {
  display: flex;
}

@media (max-width: 1024px) {
  .about__wrapper {
    flex-direction: column;
  }
}

.about__wrapper-team {
  flex-direction: row-reverse;
}

@media (max-width: 1570px) {
  .about__wrapper-team {
    flex-direction: column;
    align-items: center;
  }
}

.about__img {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 1570px) {
  .about__img {
    top: 250px;
  }
}

@media (max-width: 1024px) {
  .about__img {
    top: auto;
    margin-left: auto;
    position: relative;
    right: -20px;
  }

  .about__img img {
    height: 400px;
  }
}

.about__img-team {
  left: 0;
  right: auto;
}

@media (max-width: 1570px) {
  .about__img-team {
    position: relative;
    top: auto;
    width: 100vw;
    margin-top: 40px;
  }

  .about__img-team img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .about__img-team {
    top: auto;
    margin-left: auto;
    position: relative;
    left: -20px;
  }
}

@media (max-width: 767px) {
  .about__img-team {
    width: 120%;
    right: 0;
    left: -20px;
  }

  .about__img-team img {
    height: auto;
  }
}

.about__img-block {
  position: absolute;
  top: calc(50% - 229px);
  left: -229px;
  display: flex;
  width: 456px;
  height: 456px;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .about__img-block {
    width: 160px;
    height: 160px;
    left: -30px;
    top: calc(50% - 80px);
  }
}

.about__img-block-item {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.about__img-block-item img {
  margin-top: -1px;
  width: 101%;
  height: 101%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.about__content {
  width: 36%;
  margin-top: 115px;
}

.about__content-team {
  margin-top: 70px;
}

@media (max-width: 1700px) {
  .about__content {
    width: 33%;
  }
}

@media (max-width: 1570px) {
  .about__content {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .about__content {
    padding: 0 0 30px 0;
  }
}

@media (max-width: 1570px) {
  .about__content-team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__caption {
  color: #404040;
  font-size: 48px;
  font-weight: 400;
  line-height: 110%;
}

@media (max-width: 767px) {
  .about__caption {
    font-size: 30px;
  }
}

.about__description {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}



/*furniture__info*/
.furniture {
  padding-top: 154px;
  padding-bottom: 115px;
  color: #000000;
  text-align: center;
}

@media (max-width: 1024px) {
  .furniture {
    padding: 50px 0;
  }
}

.furniture__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.furniture__caption {
  font-size: 48px;
  font-weight: 400;
  line-height: 110%;
}

@media (max-width: 1024px) {
  .furniture__caption {
    font-size: 30px;
  }
}

.furniture__description {
  width: 45%;
  color: #6E6E6E;
  text-align: center;
  font-size: 16px;
  line-height: 160%;
}

@media (max-width: 1340px) {
  .furniture__description {
    width: 100%;
  }
}

.furniture__info {
  padding: 157px 0 165px 0;
}

@media (max-width: 1024px) {
  .furniture__info {
    padding: 45px 0;
  }
}

.furniture__info-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .furniture__info-list {
    flex-direction: column;
  }
}

.furniture__info-item {
  width: 25%;
}

@media (max-width: 768px) {
  .furniture__info-item {
    width: 100%;
  }
}

.furniture__info-name {
  color: #000000;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
}

.furniture__info-description {
  width: 74%;
  margin: 0 auto;
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

@media (max-width: 768px) {
  .furniture__info-description {
    width: 100%;
    margin: 0;
  }
}



/* Скролл картинок */
.scrolled {
  margin-top: 192px;
  height: 887px;
  background: linear-gradient(180deg, white 10%, #232323 10%);
}

@media (max-width: 768px) {
  .scrolled {
    margin-top: 50px;
    height: 500px;
  }
}

.scrolled__block {
  position: relative;
  margin: 0 auto;
  max-width: 1335px;
  height: 90%;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
}

.scrolled__block-top {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px 20px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: #F7F7F7;
}

.scrolled__block-dot {
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
  opacity: 0.4;
  border-radius: 50%;
  margin-right: 6px;
}

.scrolled__content {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 0 auto;
}

.scrolled__content img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .scrolled__content img {
    width: 75px;
    height: 75px;
  }
}

.scrolled__line {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.scrolled__line-1 {
  top: 50px;
}

.scrolled__line-2 {
  top: 20px;
}

.scrolled__line-3 {
  top: 100px;
}

.scrolled__line-4 {
  top: 80px;
}

.scrolled__line-content {
  display: flex;
  gap: 25px;
  flex-direction: column;
  width: 175px;
  animation: scroll 30s infinite linear;
}

@media (max-width: 768px) {
  .scrolled__line-content {
    width: 75px;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}


/* Отзывы */
.reviews {
  padding: 125px 0 156px 0;
  background-color: #F1E9E6;
}

@media (max-width: 1024px) {
  .reviews {
    padding: 50px 0;
  }
}

.reviews__caption {
  color: #404040;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 50px;
  max-width: 830px;
  margin: 0 auto;
  flex-direction: column;
}

.reviews__item {
  display: flex;
  gap: 50px;
}

/* Расположение иконок */
.reviews__item:nth-child(even) {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .reviews__item:nth-child(even) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .reviews__item {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .reviews__item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.reviews__content {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 32px 43px;
}

.reviews__content::before {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid #ffffff;
  border-left: 20px solid transparent;
}

@media (max-width: 768px) {
  .reviews__content::before {
    display: none;
  }
}

.reviews__item:nth-child(even) .reviews__content::before {
  left: auto;
  right: -20px;
  border-top: 20px solid #ffffff;
  border-right: 20px solid transparent;
}

@media (max-width: 768px) {
  .reviews__item:nth-child(even) .reviews__content::before {
    display: none;
  }
}

.reviews__author {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 50%;
}

.reviews__author-name {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin: 0;
}

.reviews__text {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}


/* Проекты */
.portfolio {
  color: #000000;
  padding-top: 128px;
}

@media (max-width: 1024px) {
  .portfolio {
    padding-top: 50px;
  }
}

.portfolio__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}

@media (max-width: 1024px) {
  .portfolio__top {
    margin-bottom: 0;
  }
}

.portfolio__controls {
  display: flex;
  transform: translateX(-12px);
}

@media (max-width: 768px) {
  .portfolio__controls {
    transform: translateX(0);
  }
}

.portfolio__control {
  display: flex;
  align-items: center;
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .3s;
}

.portfolio__control svg {
  object-fit: cover;
}

.portfolio__control.disabled {
  opacity: .2;
  pointer-events: none;
}

.portfolio__control:hover {
  opacity: .6;
}

.portfolio__caption-project {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.portfolio__caption {
  color: #000000;
  font-size: 26px;
  font-weight: 400;
  line-height: 120%;
}

@media (max-width: 1024px) {
  .portfolio__caption {
    font-size: 22px;
  }
}

.portfolio__description {
  margin: 0;
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 1024px) {
  .portfolio__description {
    font-size: 12px;
    line-height: 22px;
  }
}

.portfolio__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 100%;
  gap: 40px;
  overflow: hidden;
}

.portfolio__item {
  width: 25%;
}

@media (max-width: 768px) {
  .portfolio__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .portfolio__prev img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}


/* Контакты */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  padding-top: 212px;
  padding-bottom: 99px;
}

@media (max-width: 1024px) {
  .contact {
    padding: 50px 0;
  }
}

.contact__caption {
  margin: 0 auto;
  margin-bottom: 67px;
  color: #404040;
  text-align: center;
  font-feature-settings: 'liga' off;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

@media (max-width: 768px) {
  .contact__caption {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .contact__caption {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.contact__form-input {
  width: 297px;
  padding-left: 16px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #000000;
  background: #FFFFFF;
}

@media (max-width: 768px) {
  .contact__form-input {
    width: 200px;
  }
}

.contact__form-field {
  display: flex;
  justify-content: center;
}



/* Подвал */
footer {
  color: #000000;
}

.footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
  width: 100%;
  border-top: 1px solid #000000;
}

.footer__social {
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 26px;
  display: flex;
}

.footer__social-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer__social-item img {
  transition: border-radius .3s, transform .3s;
}

.footer__social-item:hover img {
  border-radius: 50%;
  transform: scale(1.2);
}


.home {
  display: none;
  position: relative;
  z-index: 100;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: transform .6s ease-in;
  transform: translateX(100px);
}

.home--show {
  transform: translateX(0);
}

.home a {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 100px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.8);
  background-image: url("../img/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: border-radius .3s, transform .3s;
}

@media (max-width: 768px) {
  .home a {
    right: 0;
    bottom: 50px;
    width: 30px;
    height: 30px;
  }
}

.home:hover a {
  border-radius: 0px;
  transform: scale(1.1);
}